services:
  app:
    build: .
    container_name: pr_app
    ports:
      - "8080:4000"
    env_file:
      - .env.local
    depends_on:
      db:
        condition: service_healthy
    networks:
      - pr_net

  db:
    image: postgres:15
    container_name: pr_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 3s
      timeout: 5s
      retries: 5
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - pr_net

  migrate:
    image: migrate/migrate
    networks:
     - pr_net
    volumes:
     - ./migrations:/migrations
    depends_on:
      db:
        condition: service_healthy
    command: ["-path", "/migrations", "-database",  "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?sslmode=disable", "up"]
    links: 
     - db


networks:
  pr_net:
    driver: bridge

volumes:
  pg_data:
