services:
  app:
    build: .
    container_name: avitoIntern_app
    ports:
      - "8080:4000"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - avitoIntern_net

  db:
    image: postgres:15
    container_name: avitoIntern_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - avitoIntern_net

networks:
  avitoIntern_net:

volumes:
  pg_data:
